body{
background-color: pink;
}

.box{
    margin-top: 2.5rem;
scroll-behavior: smooth;
    overflow-y: scroll;
    max-width: 100%;
    width: 800px;
    background-color: pink;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-height: calc(120vh - 250px);


}
.box td{
    border-spacing: 4rem;
}